@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --accent: #77d7ef;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--accent);
  gap: 7rem;
  min-height: 650px;
  padding-bottom: 2rem;
  overflow-x: hidden;
}

/** FOR BLUR ANIMATION */

.page-header, .type-selector {
  transition: filter 500ms ease;
}

body.blur .page-header, body.blur .type-selector {
  filter: blur(2px);
}

header {
  margin-top: 2rem;
  text-align: center;
}

.page-title {
  font-size: 3rem;
  margin-bottom: .5rem;
}

.page-info {
  font-size: 1.3rem;
}

.type-selector {
  height: 20rem;
  width: 50rem;
  background-color: white;
  border-radius: .6rem;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  max-width: calc(100vw - 4rem);
}

@media (max-width: 600px) {
  .type-selector {
    flex-direction: column;
    height: fit-content;
    padding: 2rem 1rem;
    max-width: calc(100vw - 2rem) !important;
  }
}

.selector-button {
  border: none;
  outline: none;
  display: flex;
  flex-direction: column;
  width: 20rem;
  max-width: 100%;
  max-height: 100%;
  gap: .3rem;
  cursor: pointer;
  background-color: var(--accent);
  aspect-ratio: 1;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  font-size: 1.7rem;
  color: black;
  padding: 1rem;
  transition: transform 100ms ease-out;
}

.selector-button:where(:hover, :focus) {
  transform: scale(1.05);
}

.selector-image {
  height: 4rem;
  width: 3rem;
}

.selector-image path {
  fill: #404040;
}

/** GAME DESIGN **/

.screen {
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  transform: translateY(-100%);
  z-index: 1;
  background-color: var(--accent);
  transition: transform 400ms ease;
  transition-delay: 0ms;
  padding-bottom: 2rem;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 3rem;
}

.screen.visible {
  transform: unset;
  transition-delay: 500ms;
}

.duo-screen.second-player-chance {
  background-color: #FF877C;
}

.exit-screen-button {
  position: absolute;
  top: -1rem;
  right: -.5rem;
  cursor: pointer;
  background-color: white;
  border-radius: 0 50% 0;
  height: 3.5rem;
  aspect-ratio: 1;
  padding: .5rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: start;
  align-items: end;
  transition: transform 100ms ease-out;
  overflow: auto;
}

.exit-screen-button:hover {
  transform: scale(1.05);
}

.screen-title {
  margin-top: 2rem;
  font-size: 3rem;
}

.screen-info {
  font-size: 1.3rem;
}

.high-score-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1ch;
  font-size: 1.1rem;
  background-color: white;
  border-radius: .3rem;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: .8rem;
  height: 50rem;
  width: 40rem;
  padding: 1rem;
  max-width: calc(100vw - 2rem);
  background-color: white;
  border-radius: .5rem;
}

.main-game, .dice-container, .roll-container {
  width: 100%;
  padding: .4rem;
  border-radius: .5rem;
}

.main-game {
  height: 65%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: .4rem;
  padding: .4rem;
}

.pattern-view {
  width: 65%;
  height: 100%;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: .2rem;
}

.pattern-view .pattern {
  background-color: #d6d6d6;
  width: 100%;
  padding: .5rem;
  min-height: 2.5rem;
  border-radius: .25rem;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: .3rem;
  font-size: 1.3rem;
}

.pattern i {
  color: black;
}

.pattern .sequence-flex {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: .3rem;
  overflow-x: hidden;
}

.pattern-score-view {
  width: 35%;
  height: 100%;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  padding: .2rem;
}

.pattern-score {
  text-align: center;
  background-color: var(--accent);
  width: 100%;
  padding: .5rem;
  min-height: 2.5rem;
  border-radius: .25rem;
  font-size: 1.3rem;
  box-shadow: 2px 4px 0px 0px rgba(41, 48, 50, 0.42);
  cursor: pointer;
  transition: background-color 100ms ease, box-shadow 200ms ease-out;
}

.pattern-score:hover {
  box-shadow: none;
}

.pattern-score.taken {
  background-color: #d6d6d6;
  box-shadow: none;
  pointer-events: none;
}

.pattern-score.disable {
  pointer-events: none;
  filter: grayscale(.5);
}

.game-score-container {
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1ch;
  font-size: 1.1rem;
  background-color: var(--accent);
  border-radius: .3rem;
}

.duo-screen .game-score-container {
  background-color: #d8d8d8;
}

.dice-container {
  height: 15%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: .5rem;
}

.dice {
  aspect-ratio: 1;
  width: 25%;
  background-color: #d6d6d6;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: solid 6px transparent;
}

.dice.selected {
  border-color: var(--accent);
}

.rolled-dice {
  font-size: 4rem;
}

@media (max-width: 600px) {

  .dice {
    border-width: 4px
  }

  .rolled-dice {
    font-size: 2.25rem;
  }
}

@media (max-width: 360px) {

  .dice {
    border-width: 3px
  }

  .rolled-dice {
    font-size: 1.5rem;
  }

}

.roll-container {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  background-color: var(--accent);
  cursor: pointer;
  filter: contrast(1.1);
  user-select: none;
  box-shadow: 3px 6px 0px 0px rgba(41, 48, 50, 0.42);
  transition: box-shadow 200ms ease-out;
}

.roll-label {
  font-weight: 800;
}

.roll-count-div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: .5rem;
}

.roll {
  padding-block: .4rem;
  background-color: white;
  border-radius: .3rem;
  width: 2ch;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 200ms ease-in-out;
  transition-property: filter, opacity;
}

.roll.done {
  filter: brightness(.7);
  opacity: .5;
}

.roll-container:hover {
  box-shadow: none;
}

/* it's actually roll-3, but for easiness in javascript, I have started iterations in html from 0 */
.roll-container:has(.roll-2.done) {
  pointer-events: none;
  filter: brightness(.9);
  opacity: .6;
}

.roll-container.game-over {
  pointer-events: none;
  filter: brightness(.8);
  opacity: .7;
}

.play-again {
  width: 40rem;
  max-width: calc(100vw - 2rem);
  padding: 1rem 2rem;
  border: none;
  border-radius: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  background-color: white;
  cursor: pointer;
  filter: contrast(1.1);
  user-select: none;
  box-shadow: 3px 6px 0px 0px rgba(41, 48, 50, 0.42);
  transition: box-shadow 200ms ease-out;
}

.play-again.hidden {
  display: none;
}

.play-again:where(:hover, :focus) {
  box-shadow: none;
}